
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

/* bawaan mikrotik */

.inti {
    display: none;
}


.container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.ilt {
    background: #ffffff;
    width: 1600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ilt video {
    width: 100%;
    height: 100%;
}

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
 }


.formulir {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    background-color: #f7f5f5;
    width: 20%;
    height: 100vh;
    padding: 20px;

}

button {
    margin-top: .4em;
    border: 1px solid white;
    outline: 1px solid slateblue;
    padding: 10px 15px;
    background-color: slateblue;
    color: white;
    cursor: pointer;
}
.cta {
    margin-bottom: 3em;
}
.cta h3 {
    font-size: 1.2rem;
    color: #424141;
    margin-bottom: .5em;
}

.cta p {
    font-size: .8rem;
}

.wrap {
    width: 100%;
}

.user-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.demo {
    margin: 1em 0;
}

.submit-input {
    margin-top: .4em;
    border: 1px solid white;
    outline: 1px solid slateblue;
    padding: 10px 15px;
    background-color: slateblue;
    color: white;
    cursor: pointer;
}

.user-input label {
    font-size: .8rem;
}

.user-input input {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    margin: .4em 0;
    padding: .5em;
}


button:hover {
    opacity: .9;
}

.essential {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 0px) and (max-width: 500px){
    .formulir {
        width: 60%;
        height: 100vh;
        left: 70%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        background-color: rgb(255, 255, 255);

        box-shadow: -1px 1px 40px 4px #695acd49
    }
    .cta h3 {
        font-size: .8rem;
    }
    .cta p {
        font-size: .6rem;
    }

    .user-input input {
        padding: 4px;
    }
}


@media (min-width: 500px) and (max-width: 700px){
    .formulir {
        width: 60%;
        height: 100vh;
        left: 70%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        background-color: rgb(255, 255, 255);

        box-shadow: -1px 1px 40px 4px #695acd49
    }
    .cta h3 {
        font-size: .8rem;
    }
    .cta p {
        font-size: .6rem;
    }

    .user-input input {
        padding: 4px;
    }
}


@media (min-width: 700px) and (max-width: 1000px){
    .formulir {
        width: 60%;
        height: 100vh;
        left: 70%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        background-color: rgb(255, 255, 255);

        box-shadow: -1px 1px 40px 4px #695acd49
    }
    .cta h3 {
        font-size: 1rem;
    }
    .cta p {
        font-size: .6rem;
    }

    .user-input input {
        padding: 4px;
    }
}

@media (min-width: 1000px) and (max-width: 1400px){
    .formulir {
        width: 25%;
    }
    .cta h3 {
        font-size: 1rem;
    }
    .cta p {
        font-size: .6rem;
    }

    .user-input input {
        padding: 4px;
    }
}